$bgColor: #ebebeb;
$subColor: #ff9800;
$fontColor: #212529;
$brandColor: #bbbcbc;
$redColor: #c5232a;
$greenColor: #4ec791;
$bagieColor: #ffe0b3;
$hoverColor: #ffc166;
$footerColor: #1e2022;

$sectionPadding: 40px 0;