#section3{
    width: 100%;
    padding: 40px 0;
    .container{
        width: 100%;
        .gap{
            width: 100%;
            .content{
                width: 100%;
                .category__box{
                    display: grid;
                    grid-template-columns: repeat(6, 1fr);
                    column-gap: 40px;
                    a{
                        display: flex;
                        >li{
                            height: 200px;
                            display: flex;
                            span{
                                font-size: 17px;
                                font-weight: 800;
                                color: #fff;
                            }
                        }
                        &:first-child{
                            background: url(../../../public/images/pages/section3/cate_img01.jpg) no-repeat 50% 50%;
                            background-size: cover;
                            li{
                                align-items: flex-end;
                                span{
                                    padding-left: 20px;
                                    padding-bottom: 20px;
                                }
                            }
                        }
                        &:nth-child(2){
                            background: url(../../../public/images/pages/section3/cate_img02.jpg) no-repeat 50% 50%;
                            background-size: cover;
                            li{
                                align-items: flex-end;
                                span{
                                    padding-left: 20px;
                                    padding-bottom: 20px;
                                }
                            }
                        }
                        &:nth-child(3){
                            background: url(../../../public/images/pages/section3/cate_img03.jpg) no-repeat 50% 50%;
                            background-size: cover;
                            li{
                                align-items: flex-end;
                                span{
                                    padding-left: 20px;
                                    padding-bottom: 20px;
                                }
                            }
                        }
                        &:nth-child(4){
                            background: url(../../../public/images/pages/section3/cate_img04.jpg) no-repeat 50% 50%;
                            background-size: cover;
                            li{
                                align-items: flex-end;
                                span{
                                    padding-left: 20px;
                                    padding-bottom: 20px;
                                }
                            }
                        }
                        &:nth-child(5){
                            background: url(../../../public/images/pages/section3/cate_img05.jpg) no-repeat 50% 50%;
                            background-size: cover;
                            li{
                                align-items: flex-end;
                                span{
                                    padding-left: 20px;
                                    padding-bottom: 20px;
                                }
                            }
                        }
                        &:last-child{
                            background-color: $subColor;
                            justify-content: center;
                            li{
                                align-items: center;
                            }
                        }
                    }
                }
            }
        }
    }
}