* {
  margin: 0;
  padding: 0;
  vertical-align: middle;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
}

html { /* scroll-behavior: smooth; */
  overflow-y: auto;
}

body {
  font: normal 14px/1 "Montserrat", sans-serif;
  color: #212529;
  font-size: 12px;
  line-height: 1.5;
  background: #fff;
}

ul {
  list-style: none;
}

a {
  color: #212529;
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
}

a:link {
  text-decoration: none;
  color: #212529;
}

a:hover {
  text-decoration: none;
  color: #212529;
}

a:visited {
  text-decoration: none;
  color: #212529;
}

a:focus {
  text-decoration: none;
  color: #212529;
}

h1, h2, h3, h4, h5, h6, b, strong {
  font-weight: normal;
}

i, em, address {
  font-style: normal;
}

i, button {
  cursor: pointer;
}

.blind {
  display: inline-block;
  text-indent: -10000px;
  overflow: hidden;
}

.hide {
  display: none;
}

#footer {
  grid-area: footer;
}

#wrap {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas: "onTop" "header" "home" "footer";
}

#header {
  grid-area: header;
}
#header .container {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}
#header .container .left-box {
  width: 30%;
}
#header .container .left-box .search__box {
  width: 230px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  padding-left: 24px;
  background-color: #ebebeb;
  border-radius: 50px;
  position: relative;
  transition: all 0.3s ease-in-out;
}
#header .container .left-box .search__box.on {
  width: 300px;
}
#header .container .left-box .search__box #searchingInput {
  border: 0;
  outline: none;
  background-color: #ebebeb;
}
#header .container .left-box .search__box > i {
  position: absolute;
  top: 12px;
  right: 20px;
  font-size: 24px;
}
#header .container .right-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#header .container .right-box .logo__box {
  margin: 0 auto;
  width: 114px;
  height: 48px;
}
#header .container .right-box .user__box {
  display: flex;
  margin-left: 130px;
}
#header .container .right-box .user__box a {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
}
#header .container .right-box .user__box a img {
  width: 24px;
  height: 24px;
  min-width: auto;
  min-height: auto;
}
#header .container .right-box .user__box button {
  width: 48px;
  height: 48px;
  border: 0;
  background: url("../../../public/images/header/wishlist.svg") no-repeat 50% 50%;
  background-size: 24px 24px;
}
#header .nav__container {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}
#header .nav__container .nav__sort .sort__list {
  display: flex;
}
#header .nav__container .nav__sort .sort__list > li {
  margin-right: 25px;
}
#header .nav__container .nav__brand .brand__list {
  display: flex;
}
#header .nav__container .nav__brand .brand__list > li {
  margin-left: 25px;
}

#home {
  grid-area: home;
}

#onTop {
  grid-area: onTop;
  width: 100%;
  background-color: #ebebeb;
}
#onTop .onTop__container {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#onTop .onTop__container .onTop__center {
  margin-left: 80px;
}
#onTop .onTop__container .onTop__center .onTop__pointer {
  pointer-events: none;
  display: none;
}
#onTop .onTop__container .onTop__center .onTop__pointer b {
  font-weight: 800;
}
#onTop .onTop__container .onTop__right {
  display: flex;
  align-items: center;
  cursor: pointer;
}
#onTop .onTop__container .onTop__right .onTop__lang .lang__box {
  padding: 8px 0;
}
#onTop .onTop__container .onTop__right .onTop__lang .lang__box > img {
  width: 20px;
  height: 20px;
}
#onTop .onTop__container .onTop__right .onTop__lang .lang__box > span {
  font-size: 12px;
  font-weight: 500;
  margin-left: 8px;
}
#onTop .onTop__container .onTop__right > i {
  margin-left: 8px;
}

#join {
  background-color: gold;
}
#join p {
  color: #fff;
}

#login {
  background-color: coral;
}
#login p {
  color: #fff;
}