* {
  margin: 0;
  padding: 0;
  vertical-align: middle;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
}

html { /* scroll-behavior: smooth; */
  overflow-y: auto;
}

body {
  font: normal 14px/1 "Montserrat", sans-serif;
  color: #212529;
  font-size: 12px;
  line-height: 1.5;
  background: #fff;
}

ul {
  list-style: none;
}

a {
  color: #212529;
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
}

a:link {
  text-decoration: none;
  color: #212529;
}

a:hover {
  text-decoration: none;
  color: #212529;
}

a:visited {
  text-decoration: none;
  color: #212529;
}

a:focus {
  text-decoration: none;
  color: #212529;
}

h1, h2, h3, h4, h5, h6, b, strong {
  font-weight: normal;
}

i, em, address {
  font-style: normal;
}

i, button {
  cursor: pointer;
}

.blind {
  display: inline-block;
  text-indent: -10000px;
  overflow: hidden;
}

.hide {
  display: none;
}

#footer {
  grid-area: footer;
}

#wrap {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas: "onTop" "header" "home" "footer";
}

#header {
  grid-area: header;
}
#header .container {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}
#header .container .left-box {
  width: 30%;
}
#header .container .left-box .search__box {
  width: 230px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  padding-left: 24px;
  background-color: #ebebeb;
  border-radius: 50px;
  position: relative;
  transition: all 0.3s ease-in-out;
}
#header .container .left-box .search__box.on {
  width: 300px;
}
#header .container .left-box .search__box #searchingInput {
  border: 0;
  outline: none;
  background-color: #ebebeb;
}
#header .container .left-box .search__box > i {
  position: absolute;
  top: 12px;
  right: 20px;
  font-size: 24px;
}
#header .container .right-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#header .container .right-box .logo__box {
  margin: 0 auto;
  width: 114px;
  height: 48px;
}
#header .container .right-box .user__box {
  display: flex;
  margin-left: 130px;
}
#header .container .right-box .user__box a {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
}
#header .container .right-box .user__box a img {
  width: 24px;
  height: 24px;
  min-width: auto;
  min-height: auto;
}
#header .container .right-box .user__box button {
  width: 48px;
  height: 48px;
  border: 0;
  background: url("../../../public/images/header/wishlist.svg") no-repeat 50% 50%;
  background-size: 24px 24px;
}
#header .nav__container {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}
#header .nav__container .nav__sort .sort__list {
  display: flex;
}
#header .nav__container .nav__sort .sort__list > li {
  margin-right: 25px;
}
#header .nav__container .nav__brand .brand__list {
  display: flex;
}
#header .nav__container .nav__brand .brand__list > li {
  margin-left: 25px;
}

#home {
  grid-area: home;
}

#onTop {
  grid-area: onTop;
  width: 100%;
  background-color: #ebebeb;
}
#onTop .onTop__container {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#onTop .onTop__container .onTop__center {
  margin-left: 80px;
}
#onTop .onTop__container .onTop__center .onTop__pointer {
  pointer-events: none;
  display: none;
}
#onTop .onTop__container .onTop__center .onTop__pointer b {
  font-weight: 800;
}
#onTop .onTop__container .onTop__right {
  display: flex;
  align-items: center;
  cursor: pointer;
}
#onTop .onTop__container .onTop__right .onTop__lang .lang__box {
  padding: 8px 0;
}
#onTop .onTop__container .onTop__right .onTop__lang .lang__box > img {
  width: 20px;
  height: 20px;
}
#onTop .onTop__container .onTop__right .onTop__lang .lang__box > span {
  font-size: 12px;
  font-weight: 500;
  margin-left: 8px;
}
#onTop .onTop__container .onTop__right > i {
  margin-left: 8px;
}

#join {
  background-color: gold;
}
#join p {
  color: #fff;
}

#login {
  background-color: coral;
}
#login p {
  color: #fff;
}

#section1 {
  background-color: #ff9800;
  padding: 4px 0;
}
#section1 .container {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px;
  text-align: center;
  padding-top: 2px;
}
#section1 .container > a {
  font-size: 14px;
  font-weight: 700;
  text-decoration: underline;
  color: #fff;
}
#section1 .container > a i {
  padding-left: 15px;
}

#section2 {
  width: 100%;
}
#section2 > a .container {
  width: 100%;
}
#section2 > a .container .gap {
  width: 100%;
}
#section2 > a .container .gap .title {
  position: absolute;
  top: 44%;
  left: 36%;
  z-index: 2;
}
#section2 > a .container .gap .title p {
  text-align: center;
}
#section2 > a .container .gap .title p span {
  color: #fff;
  font-size: 17px;
  font-weight: 600;
}
#section2 > a .container .gap .title p span:last-child {
  font-size: 70px;
}
#section2 > a .container .gap .title .btn__box {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
#section2 > a .container .gap .title .btn__box > button {
  font-size: 14px;
  font-weight: 700;
  padding: 10px 12px;
  background-color: #ff9800;
  border: 0;
  color: #fff;
}
#section2 > a .container .gap .content {
  width: 100%;
  position: relative;
  z-index: 1;
}
#section2 > a .container .gap .content img {
  width: auto;
}

#section3 {
  width: 100%;
  padding: 40px 0;
}
#section3 .container {
  width: 100%;
}
#section3 .container .gap {
  width: 100%;
}
#section3 .container .gap .content {
  width: 100%;
}
#section3 .container .gap .content .category__box {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  -moz-column-gap: 40px;
       column-gap: 40px;
}
#section3 .container .gap .content .category__box a {
  display: flex;
}
#section3 .container .gap .content .category__box a > li {
  height: 200px;
  display: flex;
}
#section3 .container .gap .content .category__box a > li span {
  font-size: 17px;
  font-weight: 800;
  color: #fff;
}
#section3 .container .gap .content .category__box a:first-child {
  background: url(../../../public/images/pages/section3/cate_img01.jpg) no-repeat 50% 50%;
  background-size: cover;
}
#section3 .container .gap .content .category__box a:first-child li {
  align-items: flex-end;
}
#section3 .container .gap .content .category__box a:first-child li span {
  padding-left: 20px;
  padding-bottom: 20px;
}
#section3 .container .gap .content .category__box a:nth-child(2) {
  background: url(../../../public/images/pages/section3/cate_img02.jpg) no-repeat 50% 50%;
  background-size: cover;
}
#section3 .container .gap .content .category__box a:nth-child(2) li {
  align-items: flex-end;
}
#section3 .container .gap .content .category__box a:nth-child(2) li span {
  padding-left: 20px;
  padding-bottom: 20px;
}
#section3 .container .gap .content .category__box a:nth-child(3) {
  background: url(../../../public/images/pages/section3/cate_img03.jpg) no-repeat 50% 50%;
  background-size: cover;
}
#section3 .container .gap .content .category__box a:nth-child(3) li {
  align-items: flex-end;
}
#section3 .container .gap .content .category__box a:nth-child(3) li span {
  padding-left: 20px;
  padding-bottom: 20px;
}
#section3 .container .gap .content .category__box a:nth-child(4) {
  background: url(../../../public/images/pages/section3/cate_img04.jpg) no-repeat 50% 50%;
  background-size: cover;
}
#section3 .container .gap .content .category__box a:nth-child(4) li {
  align-items: flex-end;
}
#section3 .container .gap .content .category__box a:nth-child(4) li span {
  padding-left: 20px;
  padding-bottom: 20px;
}
#section3 .container .gap .content .category__box a:nth-child(5) {
  background: url(../../../public/images/pages/section3/cate_img05.jpg) no-repeat 50% 50%;
  background-size: cover;
}
#section3 .container .gap .content .category__box a:nth-child(5) li {
  align-items: flex-end;
}
#section3 .container .gap .content .category__box a:nth-child(5) li span {
  padding-left: 20px;
  padding-bottom: 20px;
}
#section3 .container .gap .content .category__box a:last-child {
  background-color: #ff9800;
  justify-content: center;
}
#section3 .container .gap .content .category__box a:last-child li {
  align-items: center;
}

#section4 {
  width: 100%;
  padding: 40px 0;
}
#section4 .container {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px;
}
#section4 .container .gap {
  width: 100%;
}
#section4 .container .gap .title {
  text-align: center;
  padding-bottom: 40px;
}
#section4 .container .gap .title p {
  font-size: 20px;
  font-weight: 700;
}
#section4 .container .gap .content {
  width: 100%;
}
#section4 .container .gap .content .summer-item__category {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 40px;
       column-gap: 40px;
}
#section4 .container .gap .content .summer-item__category > a > li {
  height: 390px;
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  padding-bottom: 20px;
}
#section4 .container .gap .content .summer-item__category > a > li span {
  color: #fff;
}
#section4 .container .gap .content .summer-item__category > a > li span:first-child {
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 700;
}
#section4 .container .gap .content .summer-item__category > a > li span:last-child {
  font-size: 20px;
  font-weight: 700;
}
#section4 .container .gap .content .summer-item__category > a:first-child {
  background: url(../../../public/images/pages/section4/cate_img01.jpg) no-repeat 50% 50%;
  background-size: cover;
  opacity: 0.8;
  align-items: flex-end;
}
#section4 .container .gap .content .summer-item__category > a:nth-child(2) {
  background: url(../../../public/images/pages/section4/cate_img02.jpg) no-repeat 50% 50%;
  background-size: cover;
  filter: grayscale(0.2);
  align-items: flex-end;
}
#section4 .container .gap .content .summer-item__category > a:nth-child(3) {
  background: url(../../../public/images/pages/section4/cate_img03.jpg) no-repeat 50% 50%;
  background-size: cover;
  align-items: flex-end;
}
#section4 .container .gap .content .summer-item__category > a:last-child {
  background: url(../../../public/images/pages/section4/cate_img04.jpg) no-repeat 50% 50%;
  background-size: cover;
  align-items: flex-end;
}