#footer{
    .brid__box{
        @include container;
        padding: 20px 0;
        >img{
            width: 100px;
            height: 100px;
        }
    }
    .news__container{
        @include container;
        padding-bottom: 40px;
        .title{
            text-align: center;
            padding-bottom: 20px;
            p{
                font-size: 16px;
                font-weight: 500;
            }
        }
        .content{
            padding-bottom: 20px;
            display: flex;
            flex-flow: column;
            align-items: center;
            form{
                display: flex;
                justify-content: center;
                .subsEmail{
                    width: 380px;
                    height: 48px;
                    padding: 12px 24px;
                    border: 1px solid $bgColor;
                    outline: none;
                    &::placeholder{
                        font-size: 16px;
                    }
                }
                .subsEmailBtn{
                    border: 0;
                    width: 112px;
                    height: 48px;
                    padding: 12px 24px;
                    font-size: 16px;
                    font-weight: 500;
                    margin-left: 10px;
                    background-color: $hoverColor;
                }
            }
            .notice__box{
                width: 100%;
                max-width: 500px;
                text-align: center;
                padding-top: 10px;
                span{
                    font-size: 10px;
                    opacity: 0.55;
                }
            }
        }
    }
    .foot-brand__container{
        display: flex;
        flex-flow: column;
        align-items: center;
        padding-top: 60px;
        background-color: $bagieColor;
        .foot-brand__logo{
            @include container;
            text-align: center;
            >a{
                img{
                    width: 114px;
                    height: 48px;
                }
            }
            >p{
                padding: 20px 0;
                font-size: 16px;
                font-weight: 500;
            }
        }
    }
    .service-category__container{
        background-color: $bagieColor;
        padding: 20px 0;
        .service-category__ground{
            @include container;
            display: flex;
            justify-content: center;
            .service-category__box{
                padding: 0 45px;
                .title{
                    >p{
                        font-size: 14px;
                        font-weight: 500;
                    }
                }
                .content{
                    .service-category__list{
                        li{
                            padding-top: 12px;
                            a{
                                &:hover{
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .sns__container{
        background-color: $bagieColor;
        padding-top: 20px;
        padding-bottom: 60px;
        .sns__ground{
            @include container;
            display: flex;
            justify-content: center;
            .sns__box{
                padding-left: 20px;
                >a{
                    img{
                        width: 42px;
                        height: 42px;
                    }
                }
            }
        }
    }
    .info__container{
        background-color: $footerColor;
        padding: $sectionPadding;
        .info-img__box{
            @include container;
            display: flex;
            justify-content: center;
            img{
                width: 107px;
                height: 48px;
                margin-left: 15px;
            }
        }
        .info-msg__box{
            @include container;
            text-align: center;
            padding-top: 20px;
            color: $brandColor;
        }
    }
}