#onTop{
    width: 100%;
    background-color: $bgColor;
    .onTop__container{
        @include container;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .onTop__center{
            margin-left: 80px;
            .onTop__pointer{
                pointer-events: none;
                display: none;
                b{
                    font-weight: 800;
                }
            }
        }
        .onTop__right{
            display: flex;
            align-items: center;
            cursor: pointer;
            .onTop__lang{
                .lang__box{
                    padding: 8px 0;
                    >img{
                        width: 20px;
                        height: 20px;
                    }
                    >span{
                        font-size: 12px;
                        font-weight: 500;
                        margin-left: 8px;
                    }
                }
            }
            >i{
                margin-left: 8px;
            }
        }
    }
}